ParlaSent-SI/*
ParlaMint-SI/*
ParlaMint-SI-meta.csv
ParlaMint-SI-text.csv
.DS_Store
ParlaMint-SI_sent.tsv
ParlaMint-SI_utt.tsv
SI_sent_development.csv
*.xlsx
sent_labels.tsv
utt_labels.tsv
utt_labels_heuristic.tsv
utt_labels_RF.tsv
ParlaMint-SI_dataset.csv
ParlaMint-SI.tsv
.ipynb_checkpoints/
Checkpoints/*